@media (max-width: 75em) {
  .main-content {
    width: 90%;
  }

  .section-center {
    gap: 1.4rem;
  }

  .section-main {
    gap: 1rem;
  }
}

@media (max-width: 56em) {
  .container {
    height: 100%;
    width: 100%;
  }

  body {
    position: relative;
  }

  .main-content {
    margin: 2rem;
    gap: 4rem;
  }

  .section-center,
  .section-main-content,
  .section-top3-list {
    grid-template-columns: 1fr;
  }

  .section-center {
    row-gap: 4rem;
  }

  .news {
    gap: 2rem;
  }
  /* ############ MOBILE ############ */
  .visible {
    display: block;
    z-index: 100;
  }

  .btn-mobile {
    display: flex;
    font-size: 4rem;

    background: none;
    z-index: 200;
  }

  .nav {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(0);
    width: 80%;
    height: 100%;

    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 0.7s ease;
  }

  .nav-list {
    margin-top: 10rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    font-size: 3.2rem;
  }

  .nav-visible .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(-100%);
    z-index: 100;
  }

  .nav-visible .container-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
}
